*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ---------- HEADER ----------*/

.header{
    color: #FFFFFF;
}

.header-descuentos {
    background: #1CD1B0;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 0 10px 28px;
}

.header-titulo{
    background: #00669F;
    font-size: 40px;
    font-weight: normal;
    padding: 28px;
}

/* ---------- MAIN SECTION ----------*/

button.add-heroe{
    position: fixed;
    width: 40px;
    height: 40px;
    background: #00669F;
    border-radius: 50%;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 100;
    border:none;
    bottom: 80px;
    right: 15px;
    cursor: pointer;
    }

#container-main{
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    margin: 40px 0;
    background: #F3F3F3;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.card-bg{
    height: 193px;
    background-image: url(../img/bg_batman.png);
    background-repeat: no-repeat;
    border-radius: 16px 16px 0px 0px;
    background-size: cover;
}

.card:nth-child(2) .card-bg{
    background-image: url(../img/bg_quinn.png);
}

.card:nth-child(3) .card-bg{
    background-image: url(../img/bg_superman.png);
}

.card:nth-child(4) .card-bg{
    background-image: url(../img/bg_mujerMaravilla.png);
}

.card__img-like{
    position: absolute;
    margin: 15px;
}

.card__img-heroe{
    display: flex;
    justify-content: center;
}


.card__img-heroe img{
    position: absolute;
    border-radius: 50%;
    margin-top: 128px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 17px 17px 17px;
    padding-top: 74px;
    color: #333333;
}

.card-descripcion{
    height: 130px;
    margin-top: 20px ;
    color: #333333;
    overflow-y:scroll;
    padding-right: 10px;
}

    /* ---------- SCROLL card-description ----------*/
    .card-descripcion::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color:transparent;
        margin: 10px;
    }

    .card-descripcion::-webkit-scrollbar{
        width: 4px;
        background-color: transparent;
    }

    .card-descripcion::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: transparent;

    }

.card-descripcion:hover::-webkit-scrollbar-thumb{
    background-color:#00669F;
}

.card-descripcion:hover::-webkit-scrollbar{
    background-color:rgb(219, 219, 219);
}


.card-button{
    color: #F3F3F3;
    background: #00669F;
    border: none;
    padding: 15px 37px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 25px;
}

/* ---------- FOOTER ----------*/

#footer{
    background: #00669F;
    padding: 16px;
    color: #FFF9F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer p{
    padding: 0 12px 0 12px;
    display: inline-flex;
    justify-content: center;

}

#footer img{
    height: 20px;
    right: 30px;
}




/* ********** MEDIA QUERIES ******** */

/*Tables*/
@media (max-width:768px) {
    

    /* ---------- HEADER ----------*/
    .header-descuentos {
        background: #D1891C;
        color: #333333;
    }
    .card-descripcion::-webkit-scrollbar-thumb{
        background-color:#00669F;
    }
    
    .card-descripcion::-webkit-scrollbar{
        background-color:rgb(219, 219, 219);
    }
    
}

/*Smarthphones*/
@media (max-width: 460px) {
    .header-descuentos {
        background: #35c4f0;
        color: #FFFFFF;
    }
    
    button.add-heroe{
        right: 5px;
        }
}