*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    min-height: 100%;
    position: relative;
}

/* ------------- HEADER --------------- */

header{
    text-align: center;
    color: #FFFFFF;
}

.descuentos{
    background-color: #1CD1B0;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
}

.titulo{
    background-color: #00669F;
    font-size: 40px;
    font-weight: normal;
    padding: 28px;
}

/* ------------- TARJETAS --------------- */

.boxes{
    width: 70%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.box{
    width: 300px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0px 0px;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.box__bg{
    background-image: url(../img/bg_1.png);
    background-repeat: no-repeat;
    height: 193px;
}

.like{
    position: absolute;
    margin: 21px ;
}

.box__photo{
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box;
    margin-top: 128px;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box__nombre-heroe{
    margin-bottom: 15px;
}

.box__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 17px 17px 17px;
    padding-top: 74px;
    background-color: #F3F3F3;
    color:#333333;
}

.box__button{
    padding: 15px 37px;
    background-color: #00669F;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 30px;
}

/* ------------- FOOTER --------------- */
.footer{
    width: 100%;
    background-color: #00669F;
    font-size: 16px;
    color: #FFFFFF;
    padding: 16px;
    position: absolute;
    bottom: 0;
    text-align: center;
}